.main-desc {
    margin-top: 30px;
}
.description-heading {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 50px;
    width: 50%;
    padding-left: 10px;
}
.description-heading a{
    text-decoration: none;
    color: black;
}

.hotel-desc-border{
    border-bottom: 1px solid #e7e7e7;
}

.hotel-desc {
    display: flex;
    width: 100%;
    height: auto;
    column-gap: 10px;
}
.hotel-desc-left {
    width: 50%;
    height: auto;
    margin-left: 35px;
    padding-left: 10px;
}
.hotel-desc-left h1 {
    line-height: 40px;
}

.hotel-rating {
    display: flex;
    column-gap: 5px;
    color: #62676d ;

}
.rating-logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    column-gap: 10px;
}
.rating-logo div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
}



.amenity-item{
    margin: 20px;
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: left;
    text-align: left;
    
}

.amenity-text {
    margin-left: 25px; 
  }


.hotel-desc-right {
    width: 50%;
    height: auto;
    margin-top: 10px;
    padding: 10px;
    margin-right: 35px;
}
.hotel-desc-img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    
}
.hotel-desc-img img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.hotel-desc-price {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin-top: 2em;
    border: 1px solid rgb(240, 237, 237);
    border-radius: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.hotel-desc-detailsPrice {
    margin-left: 20px;
}

.select-room {
    background: #ff4f17 ;
    border: none;
    padding: 20px 50px;
    border-radius: 8px;
    color: white;
    font-size: 16px;
}

.hotel-rooms {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.hotel-rooms-list {
    border: 1px solid #e6e6e6;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 20px;
    text-align: left;
}
.hotel-room-title>h1 {
    font-weight: 500;
    padding-bottom: 10px;
    padding-top: 10px;
}
.hotel-room-details {
    display: flex;
    flex-direction: column;
    font-size: 15px;
    margin-top: 20px;
    font-weight: 500;
    padding-bottom: 10px;
    padding-top: 10px;
}
.hotel-room-details div{
    color: #575656;
}
.hotel-room-price {
    font-size: 18px;
    font-weight: 500;
    padding-bottom: 10px;
    padding-top: 10px;
}
.hotel-room-book-btn {
    background-color: #ff4f17;
    border-radius: 7px;
    color: #fff;
    cursor: pointer;
    font-size: 19px;
    font-weight: 500;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 10px;
    text-align: center;
    
}