.footer-container {
    width: 100%;
    background-color: #e5e5e5 ;
    padding: 20px;
    margin-top: 0;
    position: relative; 
    bottom: 26em; 
    border-top: 0.1px solid #c4bfbf ;
}
.logoand-more {
    display: flex;
    width: 100vw;
    gap: 3vw;
    
    
}
.logo-left-side {
    width: 15%;
    margin-left: 60px;
    margin-top: 30px;

}
.logo-left-side img {
    width: 100%;
}
.logo-right-side {
    display: flex;
    flex-direction: column;
    width: calc(100% - 20%);
    margin-top: 20px;
}
.logo-right-side ul {
    display: flex;
    list-style: none;
    /* column-gap: 30px; */
}
.logo-right-side ul li {
    margin-left: 30px;
}

