.resultPage-main-div {
  display: flex;
  justify-content: center;
  border-top: 1px solid rgb(206, 199, 199);
  margin-top: 15px;
}
.resultPage-main-div .row {
  width: 100vw;
  display: flex;
  gap: 10px;
  margin: 0 30px;
}
.column1 {
  width: 20%;
  padding: 0 8px;
  z-index: 20;
  position: relative;
  top: 20px;
}
.aside-left {
  height: 100%;
  width: 100%;
  margin-bottom: 70px;
}


.custom-dropdown {
  width: 100%;  
  position: relative;
  cursor: pointer;
}

.dropdown-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 5px;
}
.dropdown-content {
  width: 100%;
  margin-top: -5px;
  display: none;
  position: relative;
  top: calc(100% + 5px);
  left: 0;
  z-index: 1;
}
.dropdown-content-box {
  padding: 5px;
  padding-left: 0;
  display: flex;
  align-items: center;
  
}
.dropdown-content-box2 {
  padding: 5px;
  padding-left: 0;
  
}

.dropdown-content-box2 p {
  color: #494949;
}

.label-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
.dropdown-value{
  color: #494949 ;
  margin-left: 10px;
}
.right-align {
  margin-left: auto;
}

.input-checkbox{
  width: 20px;
  height: 20px;
}
.custom-dropdown.active .dropdown-content {
  display: block;
}


input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 2px;
  background: rgb(170, 165, 165); 
  border-radius: 5px; 
  outline: none;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px; 
  height: 25px; 
  background: white; 
  border: 3px solid #000; 
  border-radius: 50%; 
  cursor: pointer; 
}

.min-max-labels {
  display: flex;
  justify-content: space-between;
}




.column2 {
  display: flex;
  position: relative;
  top: 20px;
  width: calc(80% - 1px);
  flex-direction: column;
  gap: 20px;
  height: auto;
  /* border: 1px solid rgb(206, 199, 199); */
}

.flight-result-page {
  width: 100%;
  border: 1px solid rgb(206, 199, 199);
  border-radius: 5px;
}

.flight-result-top {
  width: 100%;
  height: 40px;
  background:  rgb(245, 245, 245);
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

