.flight-result-card {
    display: flex;
    flex-direction: row;
    height: 100px;
    width: auto;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
  }

.flight-details {
  color: #2661d8;
}
.flight-result-Arival-time {
  font-size: 22px;
  font-weight: 500;
}
.arrow-line {
  border-top: 1px solid grey;
}

.book-flight-btn1 button{
  height: 40px;
  width: 8em;
  border: none;
  background-color: orangered;
  border-radius: 5px;
  color: white;
  font-weight: 600;
  font-size: 16px;
  
}

.book-flight-btn1 button:hover{
  cursor: pointer;
  background-color: rgb(197, 76, 32);
  
}